# ====================================================================
#          SENTIRic PLATFORMU - LOKAL ORTAM DEĞİŞKENLERİ
# ====================================================================

# Log seviyesini kontrol etmek için (Rust servisleri için)
RUST_LOG=info,sentiric_media_service=debug

# --- Genel Ayarlar ---
DOCKER_REGISTRY=ghcr.io/sentiric
TAG=latest

# --- AĞ YAPILANDIRMASI ---
NETWORK_NAME=sentiric-net

# Yerel geliştirme için sunucunun IP adresi (genellikle localhost)
# Üretim ortamında bu, sunucunun gerçek PUBLIC IP adresi olmalıdır.
PUBLIC_IP=127.0.0.1
RTP_HOST=0.0.0.0

# ==================== DIŞ DÜNYA PORTLARI ====================
# Host makinede dışarıya açılacak portlar
EXTERNAL_SIP_PORT=5060
EXTERNAL_RTP_PORT_MIN=10000
EXTERNAL_RTP_PORT_MAX=10010

# ==================== DAHİLİ SERVİS PORTLARI ====================
# Konteynerlerin kendi içinde dinleyeceği portlar
INTERNAL_SIP_SIGNALING_PORT=5060
INTERNAL_GRPC_PORT_MEDIA=50052
INTERNAL_GRPC_PORT_USER=50053
INTERNAL_GRPC_PORT_DIALPLAN=50054

# ==================== SERVİS BAĞLANTI ADRESLERİ ====================
# --- Veritabanları ---
POSTGRES_DB=sentiric_db
POSTGRES_USER=sentiric
POSTGRES_PASSWORD=sentiric_pass
POSTGRES_URL=postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres:5432/${POSTGRES_DB}?sslmode=disable

RABBITMQ_USER=sentiric
RABBITMQ_PASS=sentiric_pass
RABBITMQ_URL=amqp://${RABBITMQ_USER}:${RABBITMQ_PASS}@rabbitmq:5672

# --- gRPC Servisleri ---
# Servisler birbirleriyle konteyner adları üzerinden konuşur.
MEDIA_SERVICE_GRPC_URL=http://media-service:${INTERNAL_GRPC_PORT_MEDIA}
USER_SERVICE_GRPC_URL=http://user-service:${INTERNAL_GRPC_PORT_USER}
DIALPLAN_SERVICE_GRPC_URL=http://dialplan-service:${INTERNAL_GRPC_PORT_DIALPLAN}