# sentiric-infrastructure/.env
# BU DOSYAYI ASLA GITHUB'A GÖNDERME!
# Kendi güvenli şifrelerinizi belirleyin.

# PostgreSQL Ayarları
POSTGRES_USER=sentiric
POSTGRES_PASSWORD=Guvenli_Bir_Postgres_Sifresi_123
POSTGRES_DB=sentiric_db

# RabbitMQ Ayarları
RABBITMQ_USER=sentiric
RABBITMQ_PASS=Baska_Guvenli_Bir_Rabbit_Sifresi_456